.form-container {
  background-color: white;
  max-width: 500px; /* Limits the width on larger screens */
  margin: 40px auto; /* Centers the form */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-container form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-container label > span {
  font-weight: bold;
  margin-bottom: 8px;
}

.form-container select,
.form-container input {
  width: 100%; /* Full width */
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */
}

.form-container button {
  padding: 10px;
  background-color: #1E3877; /* Using the same blue as the header for consistency */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-container button:hover {
  background-color: #163567; /* A slightly darker blue for the hover state */
}
