.background {
  background-size: cover; /* Scale the background image to cover the entire container */
  background-position: center; /* Center the background image */
  height: 100vh; /* Set the height of the container to 100% of the viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

.landing-title {
  color: #FFFFFF;
  font-size: 40px;
}

.landing-desc {
  color: #FFFFFF;
}

.vertical-space {
  height: 6%
}

.start-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1E3877; /* Blue color */
  color: #fff; /* White text color */
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
