.background {
  background-size: cover; 
  background-position: center; 
  height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
}

.landing-title {
  color: #FFFFFF;
  font-size: 40px;
}

.landing-desc {
  color: #FFFFFF;
}

.vertical-space {
  height: 6%
}

.start-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1E3877; 
  color: #fff; 
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
