.login_background {
  background-size: cover; 
  height: 100vh; 
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start; 
}

.top-bar {
  background-color: #1E3877;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 9%;
  align-items: center; 
  justify-content: flex-start; 
}

.logo {
  height: 76%;
  padding-left: 2%;
}

.logo-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.cms-title {
  padding-left: 6%;
  font-size: 23px;
  line-height: 1; 
  margin: 0;
  color: #FFFF;
}

.cms-desc {
  font-size: 12px;
  padding-left: 2%;
  color: #FFFF;
}

.login {
  text-align: center;
  width: 40%;
  margin-left: 60%;
  height: 100%;
  background-color: #FFFF;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 30%;
}

.login-header {
  margin-top: 30%;
  margin-bottom: 12%;
}

.email-input {
  font-size: 22px;
  height: 20%;
  width: 80%;
  margin-bottom: 6%;
}

.password-input {
  font-size: 22px;
  height: 20%;
  width: 80%;
  margin-bottom: 10%;
}

.login-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1E3877; 
  color: #fff; 
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.signup-redirect {
  font-size: 16px;
  display: inline-block;
  background-color: transparent;
  color: #1E3877; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
