.signup-background {
  background-size: cover; /* Scale the background image to cover the entire container */
  height: 100vh; /* Set the height of the container to 100% of the viewport height */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start; /* Center the items horizontally */
}

.signup-top-bar {
  background-color: #1E3877;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 9%;
  align-items: center; /* Align items at the start (top) of the container */
  justify-content: flex-start; /* Center the items horizontally */
}

.signup-logo {
  height: 76%;
  padding-left: 2%;
}

.signup-logo-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.signup-cms-title {
  padding-left: 6%;
  font-size: 23px;
  line-height: 1; /* Set line-height to normal */
  margin: 0;
  color: #FFFF;
}

.signup-cms-desc {
  font-size: 12px;
  padding-left: 2%;
  color: #FFFF;
}

.signup {
  text-align: center;
  width: 40%;
  margin-left: 60%;
  height: 100%;
  background-color: #FFFF;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.signup-header {
  margin-top: 15%;
  margin-bottom: 8%;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 2%;
}

.first_name {
  font-size: 22px;
  height: 20%;
  width: 80%;
  margin-bottom: 4%;
}

.last_name {
  font-size: 22px;
  height: 20%;
  width: 80%;
  margin-bottom: 4%;
}

.email-id-input {
  font-size: 22px;
  height: 20%;
  width: 80%;
  margin-bottom: 4%;
}

.user-select {
  font-size: 22px;
  height: 20%;
  width: 82%;
  margin-bottom: 4%;
}

.pw-input {
  font-size: 22px;
  height: 20%;
  width: 80%;
  margin-bottom: 4%;
}

.pw-conf-input {
  font-size: 22px;
  height: 20%;
  width: 80%;
  margin-bottom: 4%;
}

.signup-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1E3877; /* Blue color */
  color: #fff; /* White text color */
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.address {
  font-size: 22px;
  height: 20%;
  width: 80%;
  margin-bottom: 2%;
}

.dob {
  font-size: 22px;
  height: 20%;
  width: 80%;
  margin-bottom: 5%;
}

.date_title {
  font-size: 16px;
  padding-bottom: 2%;
}

.login-redirect {
  font-size: 16px;
  display: inline-block;
  background-color: transparent; /* Blue color */
  color: #1E3877; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  padding-top: 3%;
}