.test {
    height: 100vh;
    opacity: 180%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    width: 10%;
    height: 5%;
    border: none;
    background-color: #1E3877;
    text-align: center;
    position: relative;
}

.button:hover {
    cursor: pointer;
}

.button:after {
    opacity: 10%;
    background-color: red;
}
